@model WebApplication8.Models.AssignViewModel
@{
    ViewBag.Title = "AssignTrainee";
}

<h2>AssignTrainee</h2>
@Html.ActionLink("Back", "Assign", "Staff", new { @id = Model.Course.Id }, new { @class = "btn btn-primary" })
<br />
@using (Html.BeginForm("AssignTrainee", "Staff", "POST"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Trainee", new { @class = "text-default" })
        @Html.DropDownListFor(m => m.TraineeId, new SelectList(Model.Trainees, "Id", "UserName"), new { @class = "dropdown" })
        @Html.ValidationMessageFor(m => m.TraineeId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(t => t.Course.Id)
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Assign" />
        </div>
    </div>
}


