@model List<WebApplication8.Models.Course>
@{
    ViewBag.Title = "CourseManagement";
}

<h2>CourseManagement</h2>
@Html.ActionLink("Back", "Index", "Staff", null, new { @class = "btn btn-primary" })
<h1> </h1>
@using (Html.BeginForm("CourseManagement", "Staff", "POST"))
{
    <div class="form-group">
        @Html.Label("Search")
        @Html.TextBox("searchString", null, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
@Html.ActionLink("Create", "CreateCourse", "Staff", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Category Management", "CategoryView", "Staff", null, new { @class = "btn btn-success" })
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CourseName</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    @Html.ActionLink("Edit", "EditCourse", "Staff",
                                 new { id = item.Id },
                                 new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "DeleteCourse", "Staff",
                                 new { id = item.Id },
                                 new { @class = "btn btn-danger" })
                    @Html.ActionLink("Details", "DetailCourse", "Staff",
                                 new { id = item.Id },
                                 new { @class = "btn btn-primary" })
                    @Html.ActionLink("Assign", "Assign", "Staff",
                                 new { id = item.Id },
                                 new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>

